<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym</title>
    <link rel="stylesheet" href="/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
    <div class="section_1" id="alert">
        <div class="container">
            <div class="admin_left_panel">

                <div class="profile_information">
                    <div class="profile_logo"><img src="/images/profile_person_white.png" alt=""></div>
                    <div class="profile_name">Administrator Name</div>
                    <div class="profile_email">ID: 0000000000000</div>
                </div>

                <div class="profile_navigation">
                    <ul class="profiole_nav_ul">
                        <li class="profile_nav_li"><a id="dashboard" href="#dashboard"
                                class="profile_nav_a activePanelBtn"><i
                                    class="fa-solid fa-table-columns"></i><span>Dashboard</span></a></li>
                        <li class="profile_nav_li"><a id="profile" href="#profile" class="profile_nav_a"><i
                                    class="fa-solid fa-user-tie"></i><span>Admin Profile</span></a></li>
                        <li class="profile_nav_li"><a id="registration" href="#registration" class="profile_nav_a"><i
                                    class="fa-solid fa-address-card"></i><span>Registration</span></a></li>
                        <li class="profile_nav_li"><a id="plan" href="#plan" class="profile_nav_a"><i
                                    class="fa-regular fa-clipboard"></i><span>Plan</span></a></li>
                        <li class="profile_nav_li"><a id="payment" href="#payment" class="profile_nav_a"><i
                                    class="fa-solid fa-money-check-dollar"></i><span>Payment</span></a></li>
                        <li class="profile_nav_li"><a id="members" href="#members" class="profile_nav_a"><i
                                    class="fa-solid fa-user-group"></i><span>View Members</span></a></li>
                        <li class="profile_nav_li"><a id="coaches" href="#coaches" class="profile_nav_a"><i
                                    class="fa-solid fa-dumbbell"></i><span>Coaches</span></a></li>
                        <li class="profile_nav_li"><a id="report" href="#report" class="profile_nav_a"><i
                                    class="fa-solid fa-book-bookmark"></i><span>Report</span></a></li>
                    </ul>
                </div>

                <a style="cursor: pointer;" id="signOut" class="profile_log_out"><i
                        class="fa-solid fa-arrow-right-from-bracket"></i><span>Log
                        out</span></a>
            </div>
            
            <div class="admin_right_panel">
                <div class="row">
                    <div class="admin_right_panel_header">
                        <div class="admin_right_panel_header_logo"><img src="/images/logoclient.png" alt=""></div>
                        <div class="admin_right_panel_header_feedback">
                            <!--                             
                            <span>Feedback</span><i
                                class="fa-solid fa-bell"></i>
                             -->
                        </div>
                    </div>
                    <div class="admin_right_panel_content">
                        
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/admin/admin.js" type="module"></script>

</html>