<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym</title>
    <link rel="stylesheet" href="admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
    <div class="section_1">
        <div class="container">
            <div class="admin_left_panel">

                <div class="profile_information">
                    <div class="profile_logo"><img src="/images/profile_person_white.png" alt=""></div>
                    <div class="profile_name">Administrator Name</div>
                    <div class="profile_email">juan.delacruz@gmail.com</div>
                </div>

                <div class="profile_navigation">
                    <ul class="profiole_nav_ul">
                        <li class="profile_nav_li"><a href="#" class="profile_nav_a"><i
                                    class="fa-solid fa-table-columns"></i><span>Dashboard</span></a></li>
                        <li class="profile_nav_li"><a href="#" class="profile_nav_a"><i
                                    class="fa-solid fa-user-tie"></i><span>Admin Profile</span></a></li>
                        <li class="profile_nav_li"><a href="#" class="profile_nav_a"><i
                                    class="fa-solid fa-address-card"></i><span>Registration</span></a></li>
                        <li class="profile_nav_li"><a href="#" class="profile_nav_a"><i
                                    class="fa-regular fa-clipboard"></i><span>Plan</span></a></li>
                        <li class="profile_nav_li"><a href="#" class="profile_nav_a"><i
                                    class="fa-solid fa-money-check-dollar"></i><span>Payment</span></a></li>
                        <li class="profile_nav_li"><a href="#" class="profile_nav_a"><i
                                    class="fa-solid fa-user-group"></i><span>View Members</span></a></li>
                        <li class="profile_nav_li"><a href="#" class="profile_nav_a"><i
                                    class="fa-solid fa-dumbbell"></i><span>Coaches</span></a></li>
                        <li class="profile_nav_li"><a href="#" class="profile_nav_a"><i
                                    class="fa-solid fa-book-bookmark"></i><span>Report</span></a></li>
                    </ul>
                </div>

                <a href="#" class="profile_log_out"><i class="fa-solid fa-arrow-right-from-bracket"></i><span>Log
                        out</span></a>
            </div>

            <div class="admin_right_panel">
                <div class="row">
                    <div class="admin_right_panel_header">
                        <div class="admin_right_panel_header_logo"><img src="/images/logoclient.png" alt=""></div>
                        <div class="admin_right_panel_header_feedback"><span>Feedback</span><i
                                class="fa-solid fa-bell"></i></div>
                    </div>
                    <div class="admin_right_panel_content">
                        <!-- arpc - admin right panel content -->
                        <div class="arpc_1">
                            <div class="arpc_1_left">
                                <div class="arpc_1_row_1">
                                    <div class="arpc_1_row_1_block_1 block">
                                        <div class="arpc_1_row_1_block_1_left_side">
                                            <div class="arpc_1_row_1_block_1_left_side_title">Welcome Banner,
                                                <span>Martell</span>
                                            </div>
                                            <div class="arpc_1_row_1_block_1_left_side_text">Lorem ipsum dolor sit amet,
                                                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                                et dolore magna aliqua.</div>
                                        </div>
                                        <div class="arpc_1_row_1_block_1_right_side">
                                            <div class="arpc_1_row_1_block_1_right_side_circle"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="arpc_1_row_2">
                                    <div class="arpc_1_row_2_block_2 block">
                                        <div class="block_2_row">
                                            <div class="arpc_1_row_2_block_2_header">
                                                <div class="arpc_1_row_2_block_2_header_title">Coaches</div>
                                                <div class="arpc_1_row_2_block_2_header_dot"><i
                                                        class="fa-solid fa-ellipsis-vertical"></i></div>
                                            </div>
                                            <div class="arpc_1_row_2_block_2_list">
                                                <div class="arpc_1_row_2_block_2_list_row">
                                                    <div class="arpc_1_row_2_block_2_list_row_circle"></div>
                                                    <div class="arpc_1_row_2_block_2_list_row_name">Juan Dela Cruz</div>
                                                </div>
                                                <div class="arpc_1_row_2_block_2_list_row">
                                                    <div class="arpc_1_row_2_block_2_list_row_circle"></div>
                                                    <div class="arpc_1_row_2_block_2_list_row_name">Juan Dela Cruz</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="arpc_1_row_3_block_3 block">
                                        <div class="block_2_row">
                                            <div class="arpc_1_row_2_block_2_header">
                                                <div class="arpc_1_row_2_block_2_header_title">Sales</div>
                                                <div class="arpc_1_row_2_block_2_header_dot"><i
                                                        class="fa-solid fa-ellipsis-vertical"></i></div>
                                            </div>
                                            <div class="arpc_1_row_2_block_2_percentage">84%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="arpc_1_right">
                                <div class="arpc_1_row_3">
                                    <div class="arpc_1_row_3_title">Active Members</div>
                                    <div class="arpc_1_row_1_block_4 block">
                                        <div class="block_4_row">
                                            <div class="arpc_1_row_1_block_4_header">
                                                <div class="arpc_1_row_1_block_4_search_block">
                                                    <input type="text" placeholder="Search">
                                                </div>
                                                <div class="arpc_1_row_1_block_4_sort_filter">
                                                    <span>Sort by</span>
                                                    <i class="fa-solid fa-arrow-up-wide-short"></i>
                                                </div>
                                            </div>

                                            <div class="arpc_1_row_3_block_4_list">
                                                <div class="arpc_1_row_3_block_4_list_name">
                                                    <div class="arpc_1_row_3_block_4_list_name_row">
                                                        <div class="arpc_1_row_3_block_4_list_name_row_name">&nbsp;
                                                        </div>
                                                    </div>
                                                    <div class="arpc_1_row_3_block_4_list_name_row">
                                                        <div class="arpc_1_row_3_block_4_list_name_row_name">James
                                                            Medalla</div>
                                                    </div>
                                                    <div class="arpc_1_row_3_block_4_list_name_row">
                                                        <div class="arpc_1_row_3_block_4_list_name_row_name">James
                                                            Medalla</div>
                                                    </div>
                                                    <div class="arpc_1_row_3_block_4_list_name_row">
                                                        <div class="arpc_1_row_3_block_4_list_name_row_name">James
                                                            Medalla</div>
                                                    </div>
                                                    <div class="arpc_1_row_3_block_4_list_name_row">
                                                        <div class="arpc_1_row_3_block_4_list_name_row_name">James
                                                            Medalla</div>
                                                    </div>
                                                    <div class="arpc_1_row_3_block_4_list_name_row">
                                                        <div class="arpc_1_row_3_block_4_list_name_row_name">James
                                                            Medalla</div>
                                                    </div>
                                                </div>
                                                <div class="arpc_1_row_3_block_4_list_date">
                                                    <div class="arpc_1_row_3_block_4_list_date_table">
                                                        <div class="table_header">
                                                            <div class="arpc_1_row_3_block_4_list_date_table_paid">Date
                                                                paid</div>
                                                            <div class="arpc_1_row_3_block_4_list_date_table_expiry">
                                                                Date Expiry</div>
                                                            <div class="arpc_1_row_3_block_4_list_date_table_status">
                                                                Status</div>
                                                        </div>
                                                        <div class="table_dates">
                                                            <div class="arpc_1_row_3_block_4_list_date_table_dates">
                                                                <div class="arpc_1_row_3_block_4_list_date_table_paid">
                                                                    10-01-2023</div>
                                                                <div
                                                                    class="arpc_1_row_3_block_4_list_date_table_expiry">
                                                                    10-01-2024</div>
                                                                <div
                                                                    class="arpc_1_row_3_block_4_list_date_table_status">
                                                                    Active</div>
                                                            </div>
                                                            <div class="arpc_1_row_3_block_4_list_date_table_dates">
                                                                <div class="arpc_1_row_3_block_4_list_date_table_paid">
                                                                    10-01-2023</div>
                                                                <div
                                                                    class="arpc_1_row_3_block_4_list_date_table_expiry">
                                                                    10-01-2024</div>
                                                                <div
                                                                    class="arpc_1_row_3_block_4_list_date_table_status">
                                                                    Active</div>
                                                            </div>
                                                            <div class="arpc_1_row_3_block_4_list_date_table_dates">
                                                                <div class="arpc_1_row_3_block_4_list_date_table_paid">
                                                                    10-01-2023</div>
                                                                <div
                                                                    class="arpc_1_row_3_block_4_list_date_table_expiry">
                                                                    10-01-2024</div>
                                                                <div
                                                                    class="arpc_1_row_3_block_4_list_date_table_status">
                                                                    Active</div>
                                                            </div>
                                                            <div class="arpc_1_row_3_block_4_list_date_table_dates">
                                                                <div class="arpc_1_row_3_block_4_list_date_table_paid">
                                                                    10-01-2023</div>
                                                                <div
                                                                    class="arpc_1_row_3_block_4_list_date_table_expiry">
                                                                    10-01-2024</div>
                                                                <div
                                                                    class="arpc_1_row_3_block_4_list_date_table_status">
                                                                    Active</div>
                                                            </div>
                                                            <div class="arpc_1_row_3_block_4_list_date_table_dates">
                                                                <div class="arpc_1_row_3_block_4_list_date_table_paid">
                                                                    10-01-2023</div>
                                                                <div
                                                                    class="arpc_1_row_3_block_4_list_date_table_expiry">
                                                                    10-01-2024</div>
                                                                <div
                                                                    class="arpc_1_row_3_block_4_list_date_table_status">
                                                                    Active</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    if (JSON.parse(localStorage.getItem("info")).id != 1234567890123) {
        window.location = "/"
    }
    window.onload = () => {
        const info = JSON.parse(localStorage.getItem("info"))
        document.getElementsByClassName("profile_name")[0].textContent = info.name
        document.getElementsByClassName("profile_email")[0].textContent = info.email
    }
    function signOut() {
        localStorage.clear()
        window.location = "/"
    }

    const res = fetch("/getPlans", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ status: 200 })
    })
        .then(res => res.json())
        .then(dat => {
            document.getElementById("planSelect").innerHTML += dat.obj.map(i => `
        <option value="${i.name}">${i.name}</option>
        `)
        })

    function planFunc(value) {
        const response = fetch("/price", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ plan: value })
        })
            .then(response => response.json())
            .then(data => {
                document.getElementById("priceInput").value = data.text.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ' ');
                document.getElementById('registerForm').addEventListener('submit', function (event) {
                    event.preventDefault();
                    document.getElementById('hiddenPriceInput').style.display = 'none';
                    document.getElementById('hiddenValidityInput').style.display = 'none';
                    document.getElementById('hiddenPriceInput').value = document.getElementById('priceInput').value.replace(/\s/g, '');
                    document.getElementById('hiddenValidityInput').value = data.validity
                    document.getElementById('hiddenPriceInput').style.display = 'block';
                    document.getElementById('hiddenValidityInput').style.display = 'block';
                    this.submit()
                });
            })
    }
</script>

</html>