<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Gym</title>
</head>

<body>
    <div class="section_1">
        <div class="container">
            <div class="header">
                <div class="header_logo"><a href="#""><img src=" /images/logoclient.png" alt="logoclient"></a></div>
                <div class="header_nav">
                    <ul>
                        <li><a href="#">О Нас</a></li>
                        <li><a href="#">Почему мы?</a></li>
                        <li><a href="#">План</a></li>
                        <li><a href="#">Тренеры</a></li>
                        <li><a href="#">Посетите Наш Зал</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="section_2">
        <div class="container">
            <div class="body_part_1">

                <div class="body_1_text">
                    <h1 class="body_1_title">
                        Приведи себя в порядок!
                        <span>Присоединяйся к нам!</span>
                    </h1>
                    <a href="#" class="body_part_1_btn">Подробнее </a>
                </div>

                <div class="body_1_img">
                    <img src="/images/body_part_1_img.png" alt="body_part_1_img">
                </div>

                <div class="gradient"></div>

            </div>
        </div>
    </div>

    <div class="section_3">
        <div class="container">
            <div class="body_part_2">
                <div class="body_part_2_texts">
                    <div class="subtitle">About</div>
                    <div class="title">STAMINA GYM FOR MAN & WOMAN</div>
                </div>
                <div class="body_part_2_content">
                    <div class="body_part_2_img"><img src="/images/body_part_2_img.png" alt=""></div>
                    <div class="body_part_2_active">
                        <div class="body_part_2_active_text">
                            Stamina Gym Fitness Center provides proper training and conditioning for members who want to
                            improve and transform their body with Program depend on the body composition.
                        </div>
                        <div class="body_part_2_active_card_title">What we offer: </div>
                        <div class="body_part_2_active_cards">
                            <div class="body_part_2_active_card"><img src="/images/card_img_1.png" alt=""></div>
                            <div class="body_part_2_active_card"><img src="/images/card_img_2.png" alt=""></div>
                            <div class="body_part_2_active_card"><img src="/images/card_img_3.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>