@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
input, input:focus{
   outline: none; border: none !important;
}
.section_1 {    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 70%;
    height: 85%;
    margin: 0 auto;
    border-radius: 18px;
    box-shadow: 4px 4px 20px #000;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.admin_left_panel {
    background-color: #1A1363;
    width: 25%;
}

.profile_information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    color: #fff;
}

.profile_name {
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
}

.profile_email {
    font-size: 10px;
    font-weight: 400;
    padding-top: 7px;
}

.profiole_nav_ul {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    align-items: right;
}

.profile_nav_li {
    list-style: none;
    padding: 5px 25px;
    padding-right: -100px;
}

.activePanelBtn {
    background-color: #ECE9E9 !important;
    color: #1A1363 !important;
}

.activePanelBtn::after {
    background-color: #ECE9E9 !important;
}

.profile_nav_a {
    text-decoration: none;
    color: #ECE9E9;
    font-weight: 400;
    font-size: 13px;
    display: flex;
    gap: 15px;
    padding: 10px 15px;
    /* transition: 0.4s; */
    border-radius: 10px 0px 0px 10px;
    position: relative;
}

.profile_nav_a::after {
    content: "";
    position: absolute;
    height: 10px;
    background-color: #00000000;
    right: -30px;
    top: 0;
    width: 30px;
    height: 100%;
    /* transition: 0.4s;
    transition: all 0.4s; */
}

.profile_nav_a:hover {
    background-color: #ECE9E9;
    color: #1A1363;
}

.profile_nav_a:hover:after {
    width: 30px;
    background-color: #ECE9E9;
}

.profile_nav_a i {
    font-size: 16px;
}

.profile_log_out {
    display: flex;
    gap: 8px;
    text-decoration: none;
    color: #fff;
    padding-left: 40px;
    font-weight: 400;
    font-size: 13px;
    display: flex;
    gap: 15px;
    padding-top: 30px;
}

.profile_log_out i {
    font-size: 16px;
}

.admin_right_panel {
    background-color: #ECE9E9;
    width: 75%;
}

.row {
    width: 85%;
    margin: 0 auto;
}

.admin_right_panel_header {
    display: flex;
    padding-top: 30px;
    align-items: center;
    justify-content: space-between;
}

.admin_right_panel_header_feedback {
    color: #1A1363;
    font-weight: 500;
    display: flex;
    gap: 30px;
    font-size: 16px;
}

.arpc_1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.block {
    background-color: #fff;
    box-shadow: 2px 2px 5px #333333;
    border-radius: 12px;
}

.arpc_1_left {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.arpc_1_row_1_block_1 {
    width: 320px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 29px;
}

.arpc_1_row_1_block_1_left_side {
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding-top: 3px;
    padding-left: 28px;
}

.arpc_1_row_1_block_1_left_side_title {
    color: #2B2B2B;
    font-size: 15px;
    font-weight: 400;
}

.arpc_1_row_1_block_1_left_side_title span {
    font-weight: bold;
    color: #1A1363;
    font-size: 15px;
}

.arpc_1_row_1_block_1_right_side {
    padding-right: 30px;
}

.arpc_1_row_1_block_1_right_side_circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #1A1363;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arpc_1_row_1_block_1_left_side_text {
    font-size: 10px;
    font-weight: 300;
}

.arpc_1_row_2 {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.arpc_1_row_2_block_2,
.arpc_1_row_3_block_3 {
    height: 150px;
    width: 150px;
}

.block_2_row {
    width: 80%;
    margin: 0 auto;
}

.arpc_1_row_2_block_2_header {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.arpc_1_row_2_block_2_list {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
    font-weight: 300;
}

.arpc_1_row_2_block_2_list_row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.arpc_1_row_2_block_2_list_row_circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #1A1363;
}

.arpc_1_row_2_block_2_percentage {
    font-weight: bolder;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
}

.arpc_1_row_3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.arpc_1_row_1_block_4 {
    width: 340px;
    height: 280px;
    background-color: #74789B;
}

.arpc_1_row_3_title {
    font-size: 15px;
    font-weight: bold;
    color: #1A1363;
}

.arpc_1_row_1_block_4_header {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
}

.arpc_1_row_1_block_4_search_block {
    display: flex;
    justify-content: space-between;
    gap: 7px;
}

.arpc_1_row_1_block_4_search_block input {
    border-radius: 5px;
    background-color: #555B95;
    width: 118px;
    height: 20px;
    border: none;
    font-size: 10px;
    color: #fff;
    padding-left: 8px;
}

.arpc_1_row_1_block_4_search_block input::placeholder {
    color: #fff;
}

.arpc_1_row_1_block_4_sort_filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 14px;
    gap: 5px;
}

/* .arpc_1_row_2_block_2_list{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
    font-weight: 300;
}

.arpc_1_row_2_block_2_list_row{
    display: flex;
    align-items: center;
    gap: 10px;
}

.arpc_1_row_2_block_2_list_row_circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #1A1363;
} */

.arpc_1_row_3_block_4_list {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.arpc_1_row_3_block_4_list_name {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block_4_row {
    width: 90%;
    margin: 0 auto;
}

.arpc_1_row_3_block_4_list_name_row_name {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

.table_header {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    gap: 15px;
}

.arpc_1_row_3_block_4_list_date_table_dates {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    font-weight: 400;
    color: #fff;
}

.table_dates {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 22.5px;
}

.arpc_2 {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.arpc_2_left,
.arpc_2_right {
    width: 100%;
}

.card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 4px 4px 10px #b1b1b1;
}

.arpc_2_left_card {
    width: 270px;
    height: 235px;
}

.arpc_2_right {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.arpc_2_right_user_info {
    width: 400px;
    height: 235px;
}

.arpc_2_right_password {
    width: 400px;
    height: 235px;
}

.card_row {
    width: 80%;
    margin: 0 auto;
}

.card_logo {
    display: flex;
    justify-content: center;
    padding-top: 23px;
}

.card_img img {
    width: 69px;
}

.card_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 18px;
}

.card_info_row {
    display: flex;
    justify-content: space-between;
}

.card_info_row span {
    color: #2B2B2B;
    font-size: 14px;
}

.arpc_2_right_user_info_form,
.arpc_2_right_password_form {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
}

.h1_text {
    font-size: 13px;
    font-weight: bold;
    color: #2B2B2B;
    padding-bottom: 5px;
    padding-top: 5px;
}

.arpc_2_right_user_info_form input,
.arpc_2_right_password_form input {
    background-color: #E9E9E9;
    border: none;
    height: 33px;
    border-radius: 12px;
    padding-left: 12px;
}

.form_buttons {
    padding-top: 13px;
    display: flex;
    gap: 10px;
}

.btn {
    padding: 3px 20px;
    border: 2px solid #1A1363;
    border-radius: 12px;
}

.form_button_save {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #1A1363;
    transition: 0.4s;
}

.form_button_save:hover {
    background-color: transparent;
    color: #1A1363;
    border: 2px solid #1A1363;
}

.form_button_cancel {
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    color: #1A1363;
    transition: 0.4s;
}

.form_button_cancel:hover {
    background-color: #1A1363;
    color: #ffff;
}

.not_active {
    display: none;
}

.arpc_3_subtitle,
.arpc_5_subtitle {
    font-size: 32px;
    font-weight: bold;
    color: #DEBA3B;
}

.arpc_3_title,
.arpc_5_title {
    font-size: 40px;
    font-weight: bold;
    color: #1A1363;
    padding-bottom: 10px;
}

.arpc_3_block,
.arpc_5_block {
    display: block;
    background-color: #fff;
    padding: 50px 40px;
    border-radius: 12px;
}

/* .arpc_3_block_row {} */

.h1_row {
    font-size: 25px;
    font-weight: bold;
}

.h1_row span {
    font-size: 15px;
    font-weight: 500;
}

.arpc_3_block_btn {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #1A1363;
    transition: 0.4s;
    padding: 5px 20px;
    border: 2px solid #1A1363;
    border-radius: 12px;
}

.arpc_3_block_btn:hover {
    background-color: transparent;
    color: #1A1363;
    border: 2px solid #1A1363;
}

.wrong {
    font-size: 12px;
    color: red;
}

.arpc_2_right_password_form_title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.arpc_4_form {
    background-color: #332F64;
    border-radius: 12px;
    display: block;
    padding: 25px 30px;
    padding-bottom: 40px;
}

.arpc_4_row {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.arpc_4_form_left {
    flex-grow: 6;
}

.arpc_4_form_left {
    flex-grow: 4;
}

.arpc_4_input {
    width: 100%;
    height: 40px;
    border-radius: 12px;
    border: none;
    padding-left: 10px;
}

.arpc_4_h1_title {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding-bottom: 10px;
}

.arpc_4_h1_price {
    padding-top: 10px;
}

.arpc_4_form_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.arpc_4_form_right_button_save {
    color: #1A1363;
    background-color: #DEBA3B;
    border-radius: 12px;
    padding: 5px 20px;
    border: 2px solid #DEBA3B;
    font-size: 16px;
    font-weight: bold;
    transition: 0.4s;
}

.arpc_4_form_right_button_save:hover {
    background-color: transparent;
    border: 2px solid #DEBA3B;
    color: #DEBA3B;
}

.arpc_4_block {
    background-color: #77749B;
    border-radius: 20px;
    margin-top: 30px;
    padding-bottom: 20px;
}

.arpc_4_block_row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
}

.column_btn {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.arpc_4_block_column_title {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.arpc_4_block_column_text {
    font-size: 14px;
    color: #fff;
}

.search_system input {
    width: 150px;
    height: 30px;
    border-radius: 12px;
    background-color: #5D57A3;
    border: none;
    padding-left: 10px;
    color: #fff;
}

.search_system input::placeholder {
    color: #b5b5b5;
}

.arpc_4_block_column_btn {
    color: #2B2B2B;
    background-color: #fff;
    border-radius: 12px;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.4s;
}

.arpc_4_block_column_btn:hover {
    background-color: transparent;
    color: #fff;
}

.arpc_5_block_form_row_1 {
    display: flex;
    gap: 15px;
}

.arpc_5_block_form_row_1_1 {
    flex-grow: 8;
}

.arpc_5_block_form_row_1_2 {
    flex-grow: 1;
}

.arpc_5_block_form_row_1_3 {
    flex-grow: 1;
}

.arpc_5_inputs {
    width: 100%;
    background-color: #E9E9E9;
    border: none;
    padding-left: 10px;
    border-radius: 12px;
    height: 30px;
}

.not_full_width {
    background-color: #E9E9E9;
    border: none;
    padding-left: 10px;
    border-radius: 12px;
    height: 30px;
    width: 37%;
}

.arpc_5_h1 {
    font-size: 16px;
    font-weight: bold;
    color: #2B2B2B;
    padding-bottom: 10px;
}

.row_2_h1 {
    padding-top: 10px;
}

.arpc_5_block_form_buttons {
    padding-top: 20px;
}

.arpc_6_title {
    font-size: 32px;
    font-weight: bold;
    color: #1A1363;
}

.arpc_8_title {
    color: #1A1363;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
}

.arpc_8_form {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    gap: 18px;
    padding-bottom: 40px;
}

.arpc_8_h1 {
    font-size: 16px;
    font-weight: bold;
    color: #2B2B2B;
    padding-bottom: 6px;
}

.arpc_8_input {
    width: 100%;
    background-color: #E9E9E9;
    border-radius: 12px;
    border: none;
    padding-left: 10px;
    height: 30px;
}

.arpc_8_block {
    background-color: #fff;
    border-radius: 12px;
    margin-top: 20px;
    padding-bottom: 30px;
}

.arpc_8_text {
    color: #1A1363;
}

.arpc_8_block_column_btn {
    color: #fff;
    background-color: #1A1363;
    border-radius: 12px;
    padding: 5px 20px;
    border: 1px solid #1A1363;
    transition: 0.4s;
}

.arpc_8_block_column_btn:hover {
    background-color: transparent;
    color: #1A1363;
}

.arpc_8_block_title {
    font-size: 20px;
    font-weight: bold;
    color: #2B2B2B;
}

.arpc_3_block_form_row_1{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    padding-top: -20px;
}

.arpc_3_block_form_row_1_group_1 ,
.arpc_3_block_form_row_1_group_2 , 
.arpc_3_block_form_row_2_group_1 ,
.arpc_3_block_form_row_2_group_2 , 
.arpc_3_block_form_row_3_group_1 ,
.arpc_3_block_form_row_3_group_2 ,
.arpc_3_block_form_row_3_group_3{
    width: 100%;
}

.row_1_h1 , .row_3_h1{
    font-size: 16px;
    font-weight: bold;
    color: #2B2B2B ;
    padding-bottom: 10px;
}

.row_1_input{
    width: 100%;
    height: 30px;
    border-radius: 12px;
    border: none;
    background-color: #E9E9E9;
    padding-left: 10px;
    padding-right: 10px;
}

.arpc_3_block_form_row_2{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    padding-top: 15px;
}

.row_2_h1{
    font-size: 16px;
    font-weight: bold;
    color: #2B2B2B ;
    padding-bottom: 10px;
}

.row_2_input{
    width: 100%;
    height: 30px;
    border-radius: 12px;
    border: none;
    background-color: #E9E9E9;
    padding-left: 10px;
    padding-right: 10px
}

.arpc_3_block_form_row_3{
    padding-top: 20px;
    display: flex;
    gap: 50px;
}
/* 
.arpc_3_block_form_row_3_group_1{
    flex-grow: 6;
}

.arpc_3_block_form_row_3_group_2{
    flex-grow: 2;
}

.arpc_3_block_form_row_3_group_3{
    flex-grow: 2;
} */

.row_3_input{
    width: 100%;
    height: 30px;
    border-radius: 12px;
    border: none;
    background-color: #E9E9E9;
    padding-left: 10px;
    padding-right: 10px
}

.arpc_3_block_form_btn_1{
    padding-top: 30px;
}