@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.section_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 70%;
    height: 85%;
    margin: 0 auto;
    border-radius: 18px;
    box-shadow: 4px 4px 20px #000;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.admin_left_panel {
    background-color: #1A1363;
    width: 25%;
}

.profile_information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    color: #fff;
}

.profile_name {
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
}

.profile_email {
    font-size: 10px;
    font-weight: 400;
    padding-top: 7px;
}

.profiole_nav_ul {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    align-items: right;
}

.profile_nav_li {
    list-style: none;
    padding: 5px 25px;
    padding-right: -100px;
}

.profile_nav_a {
    text-decoration: none;
    color: #ECE9E9;
    font-weight: 400;
    font-size: 13px;
    display: flex;
    gap: 15px;
    padding: 10px 15px;
    /* transition: 0.4s; */
    border-radius: 10px 0px 0px 10px;
    position: relative;
}

.profile_nav_a::after {
    content: "";
    position: absolute;
    height: 10px;
    background-color: #ECE9E9;
    right: -30px;
    top: 0;
    width: 0;
    height: 100%;
    /* transition: 0.4s;
    transition: all 0.4s; */
}

.profile_nav_a:hover {
    background-color: #ECE9E9;
    color: #1A1363;
}

.profile_nav_a:hover:after {
    width: 30px;
    background-color: #ECE9E9;
}

.profile_nav_a i {
    font-size: 16px;
}

.profile_log_out {
    display: flex;
    gap: 8px;
    text-decoration: none;
    color: #fff;
    padding-left: 40px;
    font-weight: 400;
    font-size: 13px;
    display: flex;
    gap: 15px;
    padding-top: 30px;
}

.profile_log_out i {
    font-size: 16px;
}

.admin_right_panel {
    background-color: #ECE9E9;
    width: 75%;
}

.row {
    width: 85%;
    margin: 0 auto;
}

.admin_right_panel_header {
    display: flex;
    padding-top: 30px;
    align-items: center;
    justify-content: space-between;
}

.admin_right_panel_header_feedback {
    color: #1A1363;
    font-weight: 500;
    display: flex;
    gap: 30px;
    font-size: 16px;
}

.arpc_1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.block {
    background-color: #fff;
    box-shadow: 2px 2px 5px #333333;
    border-radius: 12px;
}

.arpc_1_left {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.arpc_1_row_1_block_1 {
    width: 320px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 29px;
}

.arpc_1_row_1_block_1_left_side {
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding-top: 3px;
    padding-left: 28px;
}

.arpc_1_row_1_block_1_left_side_title {
    color: #2B2B2B;
    font-size: 15px;
    font-weight: 400;
}

.arpc_1_row_1_block_1_left_side_title span {
    font-weight: bold;
    color: #1A1363;
    font-size: 15px;
}

.arpc_1_row_1_block_1_right_side {
    padding-right: 30px;
}

.arpc_1_row_1_block_1_right_side_circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #1A1363;
}

.arpc_1_row_1_block_1_left_side_text {
    font-size: 10px;
    font-weight: 300;
}

.arpc_1_row_2 {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.arpc_1_row_2_block_2,
.arpc_1_row_3_block_3 {
    height: 150px;
    width: 150px;
}

.block_2_row {
    width: 80%;
    margin: 0 auto;
}

.arpc_1_row_2_block_2_header {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.arpc_1_row_2_block_2_list {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
    font-weight: 300;
}

.arpc_1_row_2_block_2_list_row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.arpc_1_row_2_block_2_list_row_circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #1A1363;
}

.arpc_1_row_2_block_2_percentage {
    font-weight: bolder;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
}

.arpc_1_row_3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.arpc_1_row_1_block_4 {
    width: 340px;
    height: 280px;
    background-color: #74789B;
}

.arpc_1_row_3_title {
    font-size: 15px;
    font-weight: bold;
    color: #1A1363;
}

.arpc_1_row_1_block_4_header {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
}

.arpc_1_row_1_block_4_search_block {
    display: flex;
    justify-content: space-between;
    gap: 7px;
}

.arpc_1_row_1_block_4_search_block input {
    border-radius: 5px;
    background-color: #555B95;
    width: 118px;
    height: 20px;
    border: none;
    font-size: 10px;
    color: #fff;
    padding-left: 8px;
}

.arpc_1_row_1_block_4_search_block input::placeholder {
    color: #fff;
}

.arpc_1_row_1_block_4_sort_filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 14px;
    gap: 5px;
}

/* .arpc_1_row_2_block_2_list{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
    font-weight: 300;
}

.arpc_1_row_2_block_2_list_row{
    display: flex;
    align-items: center;
    gap: 10px;
}

.arpc_1_row_2_block_2_list_row_circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #1A1363;
} */

.arpc_1_row_3_block_4_list {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.arpc_1_row_3_block_4_list_name {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block_4_row {
    width: 90%;
    margin: 0 auto;
}

.arpc_1_row_3_block_4_list_name_row_name {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

.table_header {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    gap: 15px;
}

.arpc_1_row_3_block_4_list_date_table_dates {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    font-weight: 400;
    color: #fff;
}

.table_dates {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 22.5px;
}