@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container {
    width: min(1134px, calc(100% - 32px));
    margin: 0 auto;
}

.header {
    height: 76px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav {
    display: flex;
    align-items: center;
}

.menu_toggle {
    display: none;
    border: 2px solid #1A1363;
    border-radius: 10px;
    background-color: #fff;
    color: #1A1363;
    width: 42px;
    height: 42px;
    cursor: pointer;
    font-size: 18px;
}

.menu_toggle:focus-visible {
    outline: 3px solid #DEBA3B;
    outline-offset: 2px;
}

.headaer_ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header_li {
    list-style: none;
    padding: 25px 15px;
}

.header_a::after {
    content: "";
    width: 0px;
    text-align: center;
    transition: 0.5s;
    bottom: -5px;
    left: 0;
}

.header_li:hover a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #1A1363;
}

.header_a {
    text-decoration: none;
    color: #1A1363;
    font-weight: bold;
    font-size: 16px;
    position: relative;
}

.link_btn {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #FDEE21;
    border-radius: 50px;
    border: 2px solid #FDEE21;
    transition: 0.4s;
    color: #1A1363;
    font-weight: bold;
    font-size: 16px;
}

.link_btn:hover {
    background-color: transparent;
    border: 2px solid #FDEE21;
}

.link_btn:hover {
    color: #FDEE21;
}

.section_2 {
    background-image: url("/images/body_part_1_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.body_part_1 {
    display: flex;
    justify-content: space-between;
}

.body_1_text {
    width: 453px;
    font-weight: bold;
}

.body_1_title {
    font-size: 45px;
    color: #fff;
    padding-top: 170px;
    line-height: 160%;
    padding-bottom: 30px;
}

.body_1_title>span {
    color: #FFFF7D;
}

.body_part_1_btn {
    text-decoration: none;
    color: #3E3E3E;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFFADF;
    padding: 15px 25px;
    border: 2px solid #FFFADF;
    border-radius: 50px;
    transition: 0.4s;
    position: relative;
    z-index: 2;
}

.body_part_1_btn:hover {
    border: 2px solid #FFFADF;
    color: #FFFADF;
    background-color: transparent
}

.gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 330px;
    margin: 0 auto;
    background-image: linear-gradient(transparent, #1A1363);
}

.section_3 {
    position: relative;
    padding: 60px 0 90px;
    background-color: #1A1363;
}

.body_part_2_texts {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    color: #fff
}

.body_part_2_content {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.body_part_2_img {
    position: relative;
    flex: 0 0 320px;
    align-self: flex-start;
}

.body_part_2_img img {
    display: block;
    width: min(360px, 100%);
}

.subtitle {
    font-size: 24px;
    font-weight: 500;
}

.title {
    font-size: 60px;
    font-weight: 600;
}

.body_part_2_active {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 0;
    flex: 1;
    min-width: 0;
}

.body_part_2_active_text {
    color: #FFFF7D;
    font-size: 20px;
    width: 100%;
    max-width: 760px;
}

.body_part_2_active_card_title {
    font-size: 36px;
    padding-top: 64px;
    font-weight: bold;
    color: #fff;
    padding-bottom: 20px;
}

.body_part_2_active_cards {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    flex-wrap: wrap;
}

.body_part_2_active_card {
    width: 211px;
    max-width: 211px;
    flex: 1 1 180px;
    height: 211px;
    border-radius: 27px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_4 {
    padding-top: 80px;
    padding-bottom: 50px;
    border-color: #ECE9E9;
    position: relative;
    overflow: hidden;
}

.section_4_bg_img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 90px;
}

.body_part_3_subtitle {
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    color: #2B2B2B;
}

.body_part_3_title {
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    color: #1A1363;
}

.body_part_3_title span {
    color: #332F64;
}

.body_part_3_cards {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

.body_part_3_card {
    width: 250px;
    height: 270px;
    border-radius: 20px;
    border: 4px solid #fff;
    box-shadow: 3px 3px 10px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    text-align: center;
    transition: 0.4s;
}

.body_part_3_card:hover {
    transform: translateY(-4px);
}

.body_part_3_card:nth-child(odd) {
    margin-top: 58px;
}

.body_part_3_card_caption {
    color: #fff;
    font-size: 13px;
    line-height: 1.35;
    font-weight: 500;
}

.body_3_card_1 {
    background-color: #3E3E3E;
}

.body_3_card_2 {
    background-color: #77749B;
}

.body_3_card_3 {
    background-color: #332F64;
}

.body_3_card_4 {
    background-color: #1A1363;
}

.section_5 {
    background-image: url('/images/body_part_4_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.body_part_4_title {
    padding-top: 35px;
    font-size: 40px;
    color: #fff;
    font-weight: 400;
    text-align: center;
}

.body_part_4_cards {
    display: flex;
    justify-content: space-between;
    padding-top: 95px;
    padding-bottom: 45px;
}

.body_part_4_card {
    width: 333px;
    height: 350px;
    border-radius: 40px;
    background-color: #B8B3EC;
    text-align: center;
    position: relative;
}

.body_part_4_card_profile_photo {
    position: absolute;
    top: -25%;
    left: 25%;
}

.body_part_4_card_title {
    padding-top: 115px;
    font-size: 20px;
    color: #1A1363;
    font-weight: 700;
}

.body_part_4_card_desc {
    font-size: 16px;
    color: #262050;
    line-height: 1.4;
    width: min(290px, 88%);
    margin: 10px auto 0;
}

.section_6 {
    background-image: url('/images/body_part_5_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.body_part_5 {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 70px;
}

.body_part_5_map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 390px;
    height: 532px;
    border-radius: 20px;
    background-color: #c4c4c4;
    overflow: hidden;
    box-shadow: 3px 3px 10px #00000040;
}

.body_part_5_map iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.body_part_5_right_side {
    width: 70%;
}

.body_part_5_right_side_title {
    padding-left: 20px;
    font-size: 40px;
    color: #1A1363;
    padding-top: 85px;
    text-align: left;
    padding-bottom: 10px;
}

.body_part_5_right_side_block {
    min-height: 300px;
    height: auto;
    background-color: #3E3E3E;
    border-top-right-radius: 50px;
    padding-left: 45px;
    padding-top: 45px;
}

.body_part_5_right_side_block_text,
address {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.body_part_5_right_side_block_text span {
    color: #FFFF7D;
    font-size: 20px;
}

.body_part_5_texts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.body_part_5_right_side_block_socials_title {
    padding-top: 50px;
    font-size: 24px;
    color: #D3CFFF;
    padding-bottom: 10px;
}

.body_part_5_right_side_block_socials_icons img {
    width: 70px;
}

.body_part_5_right_side_block_socials_icons a {
    display: inline-flex;
}

.section_7 {
    padding-top: 50px;
    border-color: #fff;
}

.footer {
    display: flex;
    justify-content: left;
    gap: 100px;
    padding-bottom: 30px;
}

.footer_gym_title,
.footer_members_title {
    font-size: 20px;
    font-weight: bold;
}

.footer_gym_ul {
    padding-top: 13px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    text-align: left;
}

.footer_gym_li {
    list-style: none;
    padding: 0 0;

}

.footer_gym_li a {
    text-decoration: none;
    position: relative;
    left: 0;
    font-size: 15px;
    font-weight: 400;
    transition: 0.4s;
    color: #000;
}

.footer_gym_li:hover a {
    padding-left: 5px;
}

.profile {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #6f6f6ff0;
    z-index: 5;
}

.profile_card {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_block {
    width: 50%;
    height: 75%;
    border-radius: 25px;
    background-color: #fff;
    text-align: center;
}

.profile_data {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 30px;
    padding-bottom: 35px;
}

.profile_date_left {
    text-align: right;
}

.profile_date_right {
    text-align: left;
}

.profile_date_left,
.profile_date_right {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.profile_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 57px;
}

.profile_photo_main {
    width: 141px;
}

.profile_photo_secondary {
    width: 25px;
}

.profile_photo a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.profile_update {
    font-size: 20px;
    color: #2B2B2B;
}

.profile_btn {
    padding: 15px 30px;
    color: #fff;
    border-radius: 80px;
    background-color: #FD2121;
    font-size: 25px;
    font-weight: bold;
    border: 2px solid #FD2121;
    transition: 0.4s;
    cursor: pointer;
}

.profile_btn:hover {
    background-color: transparent;
    color: #FD2121;
}

.profile_back_text {
    color: #2B2B2B;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 28px;
    top: 28px;
    text-decoration: none;
    cursor: pointer;
}

.profile_picture {
    width: 33px;
}

.profile_back {
    position: relative;
}

@media (max-width: 1024px) {
    .headaer_ul {
        gap: 12px;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .header_li {
        padding: 20px 8px;
    }

    .body_part_1 {
        align-items: flex-end;
        gap: 20px;
    }

    .body_1_title {
        font-size: 38px;
        padding-top: 120px;
    }

    .body_part_2_img {
        position: static;
        width: 45%;
    }

    .body_part_2_active {
        margin-left: 0;
        width: 55%;
    }

    .body_part_2_active_text {
        width: 100%;
    }

    .body_part_2_active_cards {
        gap: 20px;
    }

    .body_part_2_active_card {
        width: 33%;
        height: auto;
        aspect-ratio: 1;
    }

    .body_part_3_cards {
        gap: 18px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .body_part_4_cards {
        gap: 18px;
    }

    .body_part_4_card {
        width: 31%;
    }

    .body_part_5 {
        gap: 20px;
    }

    .body_part_5_map {
        width: 320px;
        height: 470px;
    }
}

@media (max-width: 768px) {
    .header {
        height: auto;
        padding: 12px 0;
        flex-direction: column;
        align-items: stretch;
        gap: 12px;
    }

    .menu_toggle {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .header_top {
        width: 100%;
    }

    .header_nav {
        display: none;
        width: 100%;
    }

    .header_nav.is-open {
        display: block;
    }

    .headaer_ul {
        justify-content: center;
        flex-direction: column;
        align-items: stretch;
        gap: 8px;
        padding: 12px 0;
    }

    .header_li {
        padding: 0;
    }

    .header_a {
        display: block;
        padding: 8px 0;
    }

    .headaer_ul>span {
        width: 100%;
    }

    .loginBtn {
        width: 100%;
    }

    .section_3 {
        height: auto;
        padding: 50px 0;
    }

    .body_part_1 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px 0 60px;
    }

    .body_1_text {
        width: 100%;
        max-width: 560px;
    }

    .body_1_title {
        font-size: clamp(28px, 8vw, 45px);
        line-height: 1.35;
        padding: 0 0 20px;
    }

    .body_1_img {
        width: min(100%, 520px);
    }

    .gradient {
        height: 160px;
    }

    .subtitle {
        font-size: 20px;
    }

    .title {
        font-size: clamp(30px, 8vw, 50px);
    }

    .body_part_2_content {
        flex-direction: column;
        gap: 25px;
        align-items: center;
        padding-top: 35px;
    }

    .body_part_2_img,
    .body_part_2_active {
        width: 100%;
        max-width: 620px;
    }

    .body_part_2_active {
        padding-top: 0;
        text-align: center;
    }

    .body_part_2_active_card_title {
        font-size: 30px;
        padding-top: 24px;
    }

    .body_part_2_active_cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .body_part_2_active_card {
        width: min(211px, 30%);
    }

    .section_4 {
        padding-top: 50px;
    }

    .section_4_bg_img {
        opacity: 0.45;
        left: 0;
    }

    .body_part_3_subtitle,
    .body_part_3_title {
        text-align: center;
    }

    .body_part_3_subtitle {
        font-size: 28px;
    }

    .body_part_3_title {
        font-size: 38px;
    }

    .body_part_3_card {
        width: min(260px, 46%);
    }

    .body_part_3_card:nth-child(odd) {
        margin-top: 0;
    }

    .body_part_4_cards {
        flex-direction: column;
        align-items: center;
        padding-top: 70px;
        gap: 70px;
    }

    .body_part_4_card {
        width: min(333px, 100%);
    }

    .body_part_4_card_profile_photo {
        left: 50%;
        transform: translateX(-50%);
    }

    .body_part_5 {
        flex-direction: column;
        padding: 35px 0 45px;
    }

    .body_part_5_map {
        width: 100%;
        height: 300px;
    }

    .body_part_5_right_side {
        width: 100%;
    }

    .body_part_5_right_side_title {
        font-size: clamp(30px, 7vw, 40px);
        text-align: center;
        padding: 0 0 16px;
    }

    .body_part_5_right_side_block {
        height: auto;
        border-radius: 26px;
        padding: 24px;
    }

    .body_part_5_right_side_block_socials_title {
        padding-top: 26px;
    }

    .body_part_5_right_side_block_socials_icons {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    .body_part_5_right_side_block_socials_icons img {
        width: 54px;
    }

    .footer {
        gap: 40px;
        flex-wrap: wrap;
    }

    .profile_block {
        width: min(720px, 94vw);
        height: auto;
        max-height: 92vh;
        overflow: auto;
        padding: 16px;
    }

    .profile_back_text {
        position: static;
        justify-content: flex-start;
    }

    .profile_photo {
        padding-top: 18px;
    }

    .profile_data {
        gap: 18px;
        padding-bottom: 25px;
    }

    .profile_date_left,
    .profile_date_right {
        width: 100%;
    }

    .profile_btn {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .header_a,
    .link_btn {
        font-size: 14px;
    }

    .header_li {
        padding: 6px;
    }

    .body_part_1_btn {
        font-size: 18px;
        padding: 12px 20px;
    }

    .body_part_2_active_cards {
        gap: 12px;
    }

    .body_part_2_active_card {
        width: 48%;
    }

    .body_part_3_card {
        width: 100%;
    }

    .body_part_5_right_side_block {
        padding: 18px;
    }

    .profile_data {
        flex-direction: column;
        align-items: stretch;
        gap: 12px;
    }

    .profile_date_left {
        text-align: left;
    }

    .profile_btn {
        width: 100%;
    }
}
